<!DOCTYPE html>
<html>
	<body>
		<h1>Arithmetic Microservices</h1>
		<form action="/" method="POST">
         <!-- Hint 1: What if input "first" and "second" had default values? -->
         		Enter the First number : <input name="first">
         		<br>
         		Enter the Second number: <input name="second">
         		<br>
         		Select Operation:
         		<select name="operation">
         			<option value="add">Add</option>
         			<option value="subtract">Subtract</option>
         			<option value="multiply">Multiply</option>
         			<option value="divide">Divide</option>
					<option value="exponent">Exponent</option>
					<option value="modulus">Modulus</option>
					<option value="greaterthan">Greater Than</option>
         		</select>
         		<br>
         		<input type="submit" name="submit_button" value="Submit">
         	</form>
         	{% with messages = get_flashed_messages() %}
         	{% if messages %}
         	<ul>
         		{% for message in messages %}
         		<li>{{message | safe}}</li>
         		{% endfor %}
         	</ul>
         	{% endif %}
         	{% endwith %}
         </body>
</html>
